body{
  margin:0;
  font-family:Arial,sans-serif;
  background:linear-gradient(135deg,#1d4ed8,#7c3aed);
  color:white;
}

.container{
  max-width:1000px;
  margin:auto;
  padding:20px;
  text-align:center;
}

h1{
  margin-bottom:20px;
  font-size:48px;
}

.controls{
  margin-bottom:25px;
}

select,button{
  padding:12px 18px;
  margin:8px;
  border:none;
  border-radius:10px;
  font-size:16px;
}

select{
  background:white;
}

button{
  background:#10b981;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#059669;
}

#graph{
  position:relative;
  width:1100px;
  height:650px;
  margin:auto;
  background:#e5e7eb;
  border-radius:25px;
  overflow:hidden;
}

/* Nodes */
.node{
  position:absolute;
  width:150px;
  height:65px;
  background:#2563eb;
  color:white;
  border-radius:35px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
  font-size:28px;
  z-index:5;
  transition:0.5s;
}

.visited{
  background:#f59e0b !important;
}

.path{
  background:#16a34a !important;
}

/* Node Positions */
#Home{top:80px;left:70px;}
#Market{top:80px;left:470px;}
#School{top:320px;left:70px;}
#Hospital{top:320px;left:470px;}
#BusStand{top:520px;left:470px;}
#RailwayStation{
  top:320px;
  left:860px;
  width:140px;      /* bigger box */
  height:65px;
  font-size:24px;   /* smaller text */
  padding:0 15px;
  white-space:nowrap;
}

/* Lines */
.line{
  position:absolute;
  background:#94a3b8;
  z-index:1;
  border-radius:10px;
}

/* Home -> Market */
.l1{
  height:8px;
  width:250px;
  top:110px;
  left:220px;
}

/* Home -> School */
.l2{
  width:8px;
  height:205px;
  top:145px;
  left:145px;
}

/* Market -> Hospital */
.l3{
  width:8px;
  height:205px;
  top:145px;
  left:545px;
}

/* School -> Hospital */
.l4{
  height:8px;
  width:250px;
  top:350px;
  left:220px;
}

/* Hospital -> Railway */
.l5{
  height:8px;
  width: 300px;
  top:350px;
  left:620px;
}

/* Hospital -> BusStand */
.l6{
  width:8px;
  height:170px;
  top:385px;
  left:545px;
}

#result{
  margin-top:25px;
  font-size:32px;
  font-weight:bold;
  line-height:1.6;
}
/* Distance Labels */
.label{
  position:absolute;
  font-size:20px;
  font-weight:bold;
  color:#111827;
  z-index:6;
  background:#e5e7eb;
  padding:2px 8px;
  border-radius:8px;
}

/* Home -> Market */
.d1{
  top:78px;
  left:345px;
}

/* Home -> School */
.d2{
  top:230px;
  left:50px;
}

/* Market -> Hospital */
.d3{
  top:230px;
  left:575px;
}

/* School -> Hospital */
.d4{
  top:300px;
  left:345px;
}

/* Hospital -> Railway */
.d5{
  top:300px;
  left:760px;
}

/* Hospital -> BusStand */
.d6{
  top:470px;
  left:575px;
}